<div class="container mt-5">

  <div class="card mt-5">
    <h5 class="card-header">HTTP GET REQUEST</h5>
    <div class="card-body">
      <div class="card-title">
      </div>
      <p class="card-text">Multiple types Headers are present in the request headers. Headers such as Date headers are
        present in both request and response. Headers also include rate limiting headers that specify the amount of
        reste API calls user can make to the API Header also contain information about the required content in the
        request. The MIME type specifies if the requested content is of type HTML or plain text or JSON or an image etc
        etc</p>
      <p class="card-text">The user agent header shows the depicts the information about the client browser</p>
      <p class="card-text">Accept Header would show the preffered media types</p>
      <p class="card-text">Accest-Language shows preffered language</p>
      <p class="card-text">Other Headers are Cookie, If-Modified-Since</p>
      <hr><br><br>
      <p class="lead">The Response Header gives back the response of the http version.. it also shows information about
        the status code of the response.. 200 means OK Successful. Error in the range of 500 means something is wrong
        in the application or the server. Error in 400 series means the user tried to access a protected or non
        existing resource etc etc</p>
      <p class="card-text">Content Length gives the end of the message</p>
    </div>
  </div>

  <div class="card mt-5">
    <h5 class="card-header">HTTP POST REQUEST</h5>
    <div class="card-body">
      <p class="card-text">This is the HTTP method for sending a post request. It is used in submitting a form. This
        method is considered more secure as the fields are not sent in the URL. This increases privacy and security of
        sensetive data such as credit card details and passwords. </p>
      <p class="card-text">The JSON response we get back contains the status code, date header, MIME type and much more</p>
      <p>The 2 major ways of exchanging data over the internet is xml and JSON out of which JSON is mostly used by the
        modern web technologies. The structure of the JSON object sent in the post request depends on the object being
        created in the application. It could be just plain fields if it is a simple post method of a form or a complex
        object could be sent to the database with key value pairs depending on the class definition of the object and
        its key value pairs. </p>
      <p></p>
    </div>
  </div>
</div>