<source code>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <a class=" navbar-brand text-white" routerLink="/">Games Cafe</a>
    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-white navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <small><a class="nav-link active text-white" routerLink="/">Home</a></small>
        <small>
          <a class="nav-link text-white" routerLink="/games">Games</a>
        </small>
        <small class="nav-link"><a class="text-white" routerLink="/dashboard">Dashboard</a></small>
      </ul>
      <ul class="navbar-nav ml-auto">
        <small class="nav-link"><a class="text-white" href="https://github.com/RichieMessi/C-Inventory" target="_blank">Q1
            code</a></small>
        <small class="nav-link"><a class="text-white" href="https://github.com/RichieMessi/gamescafe" target="_blank">Q2
            code</a></small>
        <small class="nav-link"><a class="text-white" routerLink="/question3">Q3 - Http Verbs</a></small>
        <small class="nav-link"><a class="text-white" routerLink="/question4">Q4 - Bonus Ideas</a></small>
        <small><a class="nav-link text-white" routerLink="/about">About</a></small>
        <small><a class="nav-link  text-white" routerLink="/graphs">Graph Reports</a></small>

      </ul>
    </div>
  </div>
</nav>