<div class="container mt-5">

  <div class="card mt-5">
    <h5 class="card-header">Additional Feature 1</h5>
    <div class="card-body">
      <h5 class="card-title">Dockerize the Application</h5>
      <p class="card-text">As the business would grow, the data would grow. The company will have to handle higher
        traffic and support larger amounts of data. Today is the time to design the application that could scale
        tomorrow. Dockerizing the application would lay down a modular architecture of the application and it will be
        less challenging to scale the application. Using Cloud Solutions such as Azure would also be a great
        idea if not using already</p>
      <p></p>
    </div>
  </div>

  <div class="card mt-5">
    <h5 class="card-header">Additional Feature 2</h5>
    <div class="card-body">
      <h5 class="card-title">Add More Figures and Graphs to represent Data</h5>
      <p class="card-text">Inventory is supposed to represent huge datasets and representing the data in picture or
        graphical format would help manage the data and understand its recurring patterns. This
        would lead to more intelligent and well informed marketting and business decisions as well</p>
      <p class="text-info">I have implemented samples of both star rating and graphical representation of data in this
        UI</p>
      <button class="btn btn-info mr-auto" routerLink="/dashboard"><i class="fa fa-arrow-right"></i>Dashboard</button>
      <br><br>
      <button class="btn btn-info ml-auto" routerLink="/graphs"><i class="fa fa-arrow-right"></i>Graphs</button>
    </div>
  </div>
</div>